h1 {
    text-align: center;
}

.container {
    width: 1024px;
    margin: auto;
    color: white;
}

.body img {
    margin: auto;
    display: block;
    width:100%;
}

body {
    background: black;
}

